VITE_APP_ENV=development
VITE_APP_BASE_PATH=/la-on-box/
VITE_USE_MOCK_AUTH=true
VITE_USE_MOCK_TIMETABLE=true
VITE_USE_MOCK_COMMENTS=true
VITE_USE_MOCK_AUDIO_STREAM=true
VITE_USE_MOCK_IMAGE_STORAGE=true
VITE_LA_ON_BOX_DEBUG_MODE=true
VITE_SHOW_DEBUG_PANEL=true
VITE_MOCK_BROADCASTER_PASSWORD=stream1234
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
